<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/navbar') %> 
    <div class="container mt-3">
        <%= locals.message %>

        <div class="row row-cols-3">
            <% blogs.forEach(blog => { %>
                <div class="card" style="width: 18rem; ">
                    <img src="<%= blog.coverImageUrl %>" class="card-img-top mt-2" alt="<%= blog.title %>">
                    <div class="card-body">
                      <h5 class="card-title"><%= blog.title %></h5>
                      <!-- <p class="card-text"><%= blog.body %></p> -->
                      <a href="/blog/<%= blog.id %>" class="btn btn-success">Read more</a>
                    </div>
                  </div>
            <% }) %>
        </div>
        
    </div>

    <%- include("./partials/script") %>
</body>
</html>
